#!/usr/bin/env bash
###################################################################
# Script Name       : {{MADLIB_SCRIPT_NAME}}
# Description       : <description>
# Author       	    : <anonymous>                                                
# Email             : <anonymous@gmail.com> 
###################################################################

# Setup script
setup() {
  :
{{MADLIB_UNOFFCIAL_BASH_STRICT_MODE_CONTENT}}

{{MADLIB_SCRIPT_DIR_CONTENT}}

{{MADLIB_GIT_CONTENT}}
}

{{MADLIB_FORMAT_TEXT_CONTENT}}


# Show help dialog to user 
usage() {
  print_help "$(cat << EOF
Usage:
  $0 [-h]

Options:
  -h        show help                        [boolean]

Examples:
  $0                            
EOF
  )"
}


# On finish, show success or failure depending on the exit code
trap "finish" EXIT
trap 'exit 129' HUP
trap 'exit 130' INT
trap 'exit 143' TERM
finish() {
  local exit_code="$?"

  if [ "$exit_code" != "0" ]; then
    echo ""
    usage
    echo ""
    print_failure "$0 failed with code $exit_code"
  else
    echo ""
    print_success "$0 succeeded"
    echo ""
  fi
  exit $exit_code
}

{{MADLIB_PARSE_ARGS_CONTENT}}
{{MADLIB_YAML_PARSER_CONTENT}}

# Begins script execution
run() {
  print_header "Running $0 ..."
  ################ Write your script here! ################
  # ...
}

setup
{{MADLIB_NAME_PARSE_ARGS_CONTENT}}
run

